*{
  margin: 0;
  padding: 0;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black{
  background-color: #525bc0;
}

.cell img{
  width: 48px;
  height: 48px;
  position: relative;
}

.white{
  background-color: #d7efe7;
}

.selected{
  background-color: brown;
}

.available{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}